.gameboard {
/*  width: 60%;*/
  height: 200px;
/*  float: left;
*/}

.scorecard {
/*  width: 40%;
  float: left;*/
/* padding: 0px; */}

body {
  background-color: red;
  clear: both;
  color: whitesmoke;
}

table {
  border: 1px solid;
  margin: 0px auto;
  border-radius: 3px;
}

td {
  padding: 8px;
  border: 1px solid;
  width: 130px;
  text-align: center;
}

.button {
  text-align: center;
  width: 75px;
  height: 75px;
  border: 3px solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yahtzoo {

height: 75px;width: 475px;border: 3px solid;border-radius: 3px;margin: 0px 2px 30px 2px;font-size: 2em;}

.logo {
  text-align: center;
  margin: 30px 0px;
  margin-bottom: 45px;
}

.ones {

/* margin: 0px auto; */}

.sixes {
  
}

.big-button-container {

text-align: center;}

.button-wrapper {
  width: 480px;
  margin: 0px auto;
}

button {
  background-color: red;
  border-radius: 3px;
  color: white;
  font-size: 3em;
  padding: 15px;
  vertical-align: center;
  margin-top: 45px;
  border: 3px solid white;
}

div.big-button {
  background-color: red;
  border-radius: 3px;
  color: white;
  font-size: 3em;
  /* padding: 15px 175px; */
  height: 75px;
  vertical-align: center;
  margin-top: 45px;
  border: 3px solid white;
}

button:hover, .button:hover, .yahtzoo:hover, .die-image:hover, div.big-button:hover {
  background-color: #FF6363;
  cursor: pointer;
}

.die {
  width: 75px;
  height: 75px;
  border-radius: 3px;
  display: inline-block;
}

.die-row {
  width: 392px;
  margin: 0px auto 0px auto;
}

.die-wrapper {
  margin-top: 30px;
}

.button-text {
  /* margin: 0px 0px 0px 0px; */
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
  display: block;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 4px;
}

.scorecard-header {
  text-align: center;
}


.die-image{
  width: 75px;
  border-radius: 5px;
  height: 75px;
}


.multiples > p {
  display: inline;
}

/*.die-image:hover{
  opacity: .3;
}*/

.jquery-disabled {
  opacity: .3;
}

.disabled {
  opacity: .3;
}

.disabled-score {
  opacity: .3;
}

.active {
      -webkit-box-shadow: 0px 0px 5px 3px rgb(127, 245, 254);
      -moz-box-shadow: 0px 0px 5px 3px rgba(0,147,158,1);
      box-shadow: 0px 0px 5px 3px rgb(0, 0, 0);
}

.yahtzoo-logo {
  max-height: 100px;
}


th {
  text-align: center;
  padding: 5px;
}


table {
      -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-radius: 5px;
}





